
.fxKeyboardToolbar {
    -moz-user-focus:ignore;
    background: #eee;
}

.fxKeyboardButtons {
    margin: 2px;
}

.fxKeyboardToolbar * {
    -moz-user-focus:ignore;
}


.fxKeyboardButton {
	min-width:1px;
	font-family: "Lucida Console", Monaco, monospace;
    margin: 2px;
    height: 2.3em;
    font-size: 1.5em;
    -moz-appearance: none;
    border: 1px outset #bbb;
    border-radius: 4px;
    background: #dedede;
    color: black;
}

.fxKeyboardButton:active, .fxKeyboardButton.active {
    border-style: inset;
    color: black;
}

.fxKeyboardButton.locked {
    background: #999;
}

.fxKeyboardActionKeys {
    background: #bbb;
}

.fxKeyboardActionKeys.narrow {
    max-width: 2.3em;
}